.radio-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child {
    border-right-color: none;
}

.radio-group .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    display: none;
}

.radio-group .ant-radio-button-wrapper:last-child,
.radio-group .ant-radio-button-wrapper:first-child {
    border-radius: 4px;
}

.radio-group .ant-radio-button-wrapper-checked:not([class*=" ant-radio-button-wrapper-disabled"]).ant-radio-button-wrapper:first-child {
    border-right-color: #ccc;
}

.radio-group .ant-radio-button-wrapper-checked:not([class*=" ant-radio-button-wrapper-disabled"]).ant-radio-button-wrapper:first-child:hover {
    border-right-color: rgb(62, 121, 247)
}

.radio-group  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    background: none;
    border-width: 2px;
    border-color: #ccc;
    border-radius: 4px;
}

.radio-button {
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

@media(max-width: 768px) {
    .radio-button {
        width: 40px;
        height: 40px;
    }
}

.ant-card-actions>li {
  margin: 0px;
}

.edit-button {
  color: #0997d9;
  font-size: 15px;
  padding: 10px 0px;
  transition-duration: 0.3s;
}

.delete-button {
  color: #d9505c;
  font-size: 15px;
  padding: 10px 0px;
  transition-duration: 0.3s;
}

.edit-button:hover, .delete-button:hover {
  /* transform: scale(1.3); */
  padding: 5px 0px 15px 0px;
}
