.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-1 {
  min-width: 160px;
  flex: 1;
}

.gap-5 {
  grid-gap: 5%;
}

.radio-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child {
    border-right-color: none;
}

.radio-group .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    display: none;
}

.radio-group .ant-radio-button-wrapper:last-child,
.radio-group .ant-radio-button-wrapper:first-child {
    border-radius: 4px;
}

.radio-group .ant-radio-button-wrapper-checked:not([class*=" ant-radio-button-wrapper-disabled"]).ant-radio-button-wrapper:first-child {
    border-right-color: #ccc;
}

.radio-group .ant-radio-button-wrapper-checked:not([class*=" ant-radio-button-wrapper-disabled"]).ant-radio-button-wrapper:first-child:hover {
    border-right-color: rgb(62, 121, 247)
}

.radio-group  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    background: none;
    border-width: 2px;
    border-color: #ccc;
    border-radius: 4px;
}

.radio-button {
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

@media(max-width: 768px) {
    .radio-button {
        width: 40px;
        height: 40px;
    }
}
